* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    background-image: url(./img/designer_1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -10px;
    background-size: 70% 90%;
    position: absolute;
    width: 100%;
    height: 200vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    
}

.navbar p {
    color: #37447E;
    font-size: 26px;
    line-height: 38px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    width: 245px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #505F98;
}

.navbar button {
    background-color: #111B47;
    color: white;
    font-size: 12px;
    font-weight: medium;
    line-height: 18px;
    width: 130px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #091133;
}

main {
    position: relative;
    align-items: center;
    justify-content: center;
}

.content-intro {
    width: 539.37px;
    height: 421px;
    display: grid;
    gap: 50px;
    margin-top: 100px;
    padding: 150px;
}

h1 {
    color: #091133;
    padding-bottom: 12px;
    font-size: 50px;
    line-height: 66px;
    font-weight: medium;
    letter-spacing: 0.5px;
    
}

.intro p {
    color: #505F98;
    font-size: 18px;
    line-height: 30px;

}

.content-intro button {
    width: 189.13px;
    height: 36px;
    border: 3px solid #091133;
    background-color: #111B47; 
    color: white;
    font-size: 16px;
    font-weight: medium;
    line-height: 26px;
    cursor: pointer;
}

.content-intro button:hover {
    background-color: #091133;
    color: white;
}

.content-page {
    display: flex;
    gap: 5vw;
    padding: 150px;
    margin-top: 350px;
}

.page {
    display: grid;
    gap: 30px;
}

.text {
    width: 540px;
    height: 204px;
}

.text h2 {
    font-size: 36px;
    font-weight: medium;
    line-height: 48px;
    padding-bottom: 12px;
    color: #091133;
}

.text p {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    padding-bottom: 10px;
}


.content-info {
    display: flex;
    gap: 20px;
}

.info {
    width: 255px;
    height: 136px;
    text-align: justify;
}

.info img {
    padding-bottom: 10px;
}

.info h4 {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: medium;
    line-height: 26px;
    color: #091133;
}

.info p {
    font-size: 12px;
    color: #5D6970;
    line-height: 18px;
    padding-bottom: 4px;
}

.image-page img {
    width: 540px;
    height: 524.31;
}

.benefits {
    display: flex;
    gap: 10rem;
    padding: 150px;
}

.benefits-content {
    width: 540px;
    height: 204px;
    text-align: initial;
}

.benefits-content h2 {
    font-size: 36px;
    font-weight: Medium;
    line-height: 48px;
    color: #091133;
}

.benefits-content p {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    padding-top: 16px;
}

.benefits-content button {
    width: 150px;
    height: 32px;
    border: 3px solid #091133;
    background-color: #111B47;
    color: white;
    cursor: pointer;
    margin-top: 80px;
}

.benefits-content button:hover {
    background-color: #091133;
    color: white;
}

.prices {
    background-image: url(./img/Rectangle.png);
    background-repeat: no-repeat;
    padding-left: 100px;
    text-align: center;
    background-size: 100vw 1500px;
    padding-top: 200px;
}

.prices-info {
    width: 50vw;
    height: 116.31px;
    padding-left: 250px;
    padding-bottom: 50px;
}

.prices-info h2 {
    font-size: 36px;
    font-weight: Medium;
    line-height: 48px;
    color: #091133;
    padding-bottom: 12px;
}

.prices-info p {
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
    padding-bottom: 10px;
}

.price {
    width: 350px;
    height: 66px;
    padding-left: 420px;
    padding-bottom: 50px;
}

.price h2 {
    font-size: 50px;
    font-weight: medium;
    line-height: 66px;
    color: #222F65;
    letter-spacing: 0.5px;
}

.price p {
    font-size: 16px;
    line-height: 26px;
    color: #37447E;
    padding-bottom: 10px;
}

.end {
    width: 350px;
    height: 66px;
    padding-left: 420px;
    padding-bottom: 250px;
}

.end p {
    font-size: 14px;
    line-height: 24px;
    color: #5D6970;
    padding-bottom: 6px;
}

.end button {
    width: 189px;
    height: 31.81px;
    background-color: #111B47;
    color: white;
    border: 3px solid #091133;
    cursor: pointer;
}

.end button:hover {
    background-color: #091133;
    color: white;
    border: 3px solid #091133;
    cursor: pointer;
}

footer {
    background-color: #E7ECFF;
    height: 216px;
    display: grid;
    justify-content: center;
    gap: 20px;

}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    gap: 400px;

}

.footer-info p {
    font-size: 14px;
    line-height: 24px;
    color: #939ea4;
    padding-bottom: 6px;
}

.footer-info h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
    color: #37447E;
    padding-bottom: 12px;
}

.footer-info button {
    width: 109px;
    height: 26px;
    font-size: 12px;
    line-height: 18px;
    color: white;
    background-color: #111B47;
    border: 3px solid #091133;
    cursor: pointer;
}

.footer-info button:hover {
    background-color: #091133;
    color: white;
    border: 3px solid #091133;
    cursor: pointer

}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 10px;
}

.social-links a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #929ECC;
}

.social-links a:hover {
    color: #091133;
}

.icons-social {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.icons-social i {
    cursor: pointer;
}

